<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">PróClinica</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#"ui-sref="private.pacientes">Pacientes</a></li>
      <li><a href="#"ui-sref="private.medicos">Médicos</a></li> 
      <li><a href="#"ui-sref="private.consultas">Consultas</a></li> 
      <li><a href="#"ui-sref="login"ng-click="controller.logOut()">Logout</a></li> 
    </ul>
  </div>
</nav>

<ui-view></ui-view>
		