<!DOCTYPE html>
<html>
<head>
<meta charset="utf8" />
</head>
<title>API Document</title>

<xmp theme="slate" style="display:none;">
{{>markdown}}
</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>