<div>
		<form class="form-horizontal"name="formMedicos">
		  <div class="col-sm-6 col-sm-offset-3">
			<div class="panel panel-default">

				<div class="panel-heading">
					<h2>Medico</h2>
				</div>
				
				<div class="panel-body">
				<json data="controller.medico"></json>
					<div class="form-group" ng-class="{'has-error' : formMedicos.medico.$dirty && formMedicos.medico.$invalid, 'has-success' : formMedicos.medico.$dirty && formMedicos.medico.$valid}">
						<label class="control-label col-sm-3" for="medico">Nome:</label>
						<div class="col-sm-9">
							<input id="medico" name="medico" class="form-control"ng-model="controller.medico.medico"required>
							<div ng-if="formMedicos.medico.$dirty" ng-messages="formMedicos.medico.$error" class="help-block"><p ng-message="required">Favor preencher este campo corretamente!</p></div>
						</div>
						</div>

					<div class="form-group" ng-class="{'has-error' : formMedicos.crm.$dirty && formMedicos.crm.$invalid, 'has-success' : formMedicos.crm.$dirty && formMedicos.crm.$valid}">
						<label class="control-label col-sm-3" for="crm">CRM</label>
						<div class="col-sm-9">
							<input type="text" id="crm" name="crm" class="form-control"ng-model="controller.medico.crm"required>
							<div ng-if="formMedicos.crm.$dirty" ng-messages="formMedicos.crm.$error" class="help-block"><p ng-message="required">Favor preencher este campo corretamente!</p></div>
						
						
						</div>
					</div>
					
					<div class="form-group" ng-class="{'has-error' : formMedicos.telefone.$dirty && formMedicos.telefone.$invalid, 'has-success' : formMedicos.telefone.$dirty && formMedicos.telefone.$valid}">
						<label class="control-label col-sm-3" for="telefone">Contato</label>
						<div class="col-sm-9">
							<input id="telefone" name="telefone" class="form-control"ng-model="controller.medico.telefone"required>
							<div ng-if="formMedicos.telefone.$dirty" ng-messages="formMedicos.telefone.$error" class="help-block"><p ng-message="required">Favor preencher este campo corretamente!</p></div>
						
						
						</div>
					</div>
					
					
					</div>

				</div>

				<div class="panel-footer text-right">
					<button type="button" class="btn btn-primary"ng-click="controller.salvarMedico(controller.medico)"ng-disabled="formPacientes.$invalid">Salvar</button>
					<button type="button" class="btn btn-default"ui-sref="pacientes">Cancelar</button>
				</div>


			 </div>

		
	</form>
	</div>